# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/coverage
/.nyc_output
/.eslintcache
/.parcel-cache
/.next
/.nuxt
/.cache
/.expo
/.reactotron
/.vscode-test
/.pnp
.pnp.js
.pnp.cjs
.pnp.loader.mjs
.pnp.loader.cjs
.pnp.loader.js
/dist
/build
/bundle
/bundles
/coverage
/compiled
/esm
/cjs
/umd
/esm5
/esm2015
/rollup.cache   
/node_modules
/.cache
/.parcel-cache
/.next
/.nuxt
/.cache     
/.expo
/.reactotron
